extends ../layout

block main

  .row
    .col-lg-9
      h1.my-4 #{item_group.name}
        if current_user && current_user.user_group==="admin"
          br
          a.btn.btn-success.mt-2.mr-2(href=item_group.url + '/update')
            | Edit 
            i.fa.fa-pencil
          a.btn.btn-danger.mt-2(href=item_group.url + '/delete')
            | Delete 
            i.fa.fa-trash-o
      .row
        each item in group_items
          .col-lg-4.col-md-6.mb-4
            .card.h-100
              a(href=item.url)
                img.card-img-top.img-fluid(src=item.img_700_400, alt='')
              .card-body
                h4.card-title
                  a(href=item.url) #{item.name}
                h5 $#{item.formattedPrice}
                p.card-text #{item.description}
              .card-footer

  
              
        
