extends ../layout

block main
  h1 #{title}

  form(method='POST' action='')
    div.form-group
      label(for='grou_name') Group:
      input#name.form-control(
        type='text', 
        placeholder='Fantasy, Poetry etc.' 
        name='group_name' 
        value=(undefined===group ? '' : group.name))
      label(for='img_100') Square Image (100 by 100 pixels):
      input#price.form-control(
        type='text' 
        placeholder='Small square image url (100 by 100 pixels)' 
        name='img_100'  
        value=(undefined===item ? '' : item.img_100)
        )
    button.btn.btn-primary(type='submit') Submit

block alert
  if errors 
    ul
      for error in errors
        li!= error.msg