extends ../layout

block main
  h1= title

  .container
    table#cart.table.table-hover.table-sm
      thead
        tr
          th(style='width:72%') Group
          //- th(style='width:14%; text-indent:10px') Items
          //- th.text-center(style='width:14%') Coupons
      tbody
      form(method='POST' action='')
        each group in group_list
          tr
            td(data-th='Product')
              a.link-unstyled(href=group.url)
                .row
                  .col-md-2.hidden-xs-down
                    img.img-fluid(src=group.img_100, alt='...')
                  .col-md-10
                    h4.nomargin #{group.name}
                    p
                      | #{group.description}
            //- td.text-center(data-th='Items') #{coupon}
            //- td.text-center(data-th='Coupons') #{group.formatted_groups} 
        else
          li There are no groups.
    if current_user && current_user.user_group==="admin"
      a.btn.btn-success.btn-block(href='/store/group/create')
        | Add New 
        i.fa.fa-plus-square