extends ../layout

block main
  h1.text-success.pl-2.css-small-text= title
  form(method='POST' action='')
    table#cart.table.table-hover.table-sm
      thead
        tr
          th.text-center(style='width:100%') Group
          //- th(style='width:14%; text-indent:10px') Items
          //- th.text-center(style='width:14%') Coupons
      tbody
        each group in group_list
          tr
            td(data-th='Product')
              a.css-link-unstyled(href=group.url)
                .row
                  .col-md-2.d-none.d-sm-block
                    img.img-fluid(src=group.img_100, alt='...')
                  .col-md-10
                    h4.nomargin #{group.name}
                    p
                      | #{group.description}
            //- td.text-center(data-th='Items') #{coupon}
            //- td.text-center(data-th='Coupons') #{group.formattedGroups} 
        else
          li There are no groups.
  if current_user && current_user.user_group==="admin"
    a.btn.btn-success.btn-block(href='/store/group/create')
      | Add New 
      i.fa.fa-plus-square