extends ../layout

block main
  h1= title
    if current_user && current_user.user_group==="admin"
      br
      a.btn.btn-success.mt-2.mr-2(href=item.url + '/update')
        | Edit 
        i.fa.fa-pencil
      a.btn.btn-danger.mt-2(href=item.url + '/delete')
        | Delete 
        i.fa.fa-trash-o
  h2 #[strong Name: #{item.name}]
  p #{item.description}
  hr
  section
    h3 Groups
    ul
      each group in item.item_groups
        li 
          p #{group.name}
      else
        li There are no valid groups.
  hr

  form(method='POST' action=item.url+'/add')
    div.form-group
      input#itemid.form-control(
        type='hidden'
        name='id'
        required='true'
        value=item._id
        )
    button.btn.btn-primary(type='submit') Add to Cart