extends ../layout

block main
  h1= title

  p #[strong Name:]
    p #{item.name}
  hr
  p
    a(href=item.url+'/delete') Delete Item
  p
    a(href=item.url+'/update') Update Item

  section
    h1 Valid Groups
    ul
      each group in item.item_groups
        li 
          p #{group.name}
      else
        li There are no valid groups.
  hr
  p 
    form(method='POST' action=item.url+'/add')
      div.form-group
        input#itemid.form-control(
          type='hidden'
          name='id'
          required='true'
          value=item._id
          )
      button.btn.btn-primary(type='submit') Add to Cart