extends ../layout

block main
  h1.pl-3.text-secondary.css-small-text #{title}
  .container
    .row.row-offcanvas.row-offcanvas-right
      .col-12.col-md-9
        img.img-fluid.rounded-top(src=item.img_700_400)
        .jumbotron.css-jumbotron-adjustment
          h1 #{item.name}
          span.css-large-text.text-dark.float-md-right.pl-md-4.text-right #{item.formattedPrice}  
          p #{item.description}
          form(method='POST' action=item.url+'/add')
            div.form-group
              input#itemid.form-control(
                type='hidden'
                name='id'
                required='true'
                value=item._id
                )
            button.btn.btn-primary(type='submit') Add to Cart
      #sidebar.col-6.col-md-3.sidebar-offcanvas
        .list-group
          each group in item.item_groups
            a.list-group-item.border-primary.text-primary(href=group.url) #{group.name}
          else
            li There are no valid groups.
        if current_user && current_user.user_group==="admin"
          a.btn.btn-success.mt-2.mr-2(href=item.url + '/update')
            | Edit 
            i.fa.fa-pencil
          a.btn.btn-danger.mt-2(href=item.url + '/delete')
            | Delete 
            i.fa.fa-trash-o