extends ../layout

block main
  h1=title

  form(method='POST' action='')
    div.form-group
      label('item_name') Item Name:
      input#item_name.form-control(
        type='text' 
        placeholder='item name (select a name)' 
        name='item_name'
        required='true' 
        value=(undefined===item ? '' : item.name) 
        )
      label(for='description') Description:
      input#description.form-control(
        type='text' 
        placeholder='description (7 to 256 characters)' 
        name='description' 
        required='true' 
        value=(undefined===item ? '' : item.description)
        )
      label(for='price') Price:
      input#price.form-control(
        type='text' 
        placeholder='price (put your price)' 
        name='price' 
        required='true' 
        value=(undefined===item ? '' : item.price)
        )
      label(for='img_100') Square Image (100 by 100 pixels):
      input#price.form-control(
        type='text' 
        placeholder='Small square image url (100 by 100 pixels)' 
        name='img_100'  
        value=(undefined===item ? '' : item.img_100)
        )
      label(for='img_700_400') Landscape Image (700 by 400 pixels):
      input#price.form-control(
        type='text' 
        placeholder='Wide rectangular picture url (700 by 400 pixels)' 
        name='img_700_400'  
        value=(undefined===item ? '' : item.img_700_400)
        )
    div.form-group
      label Group:
      div
        for group in item_groups
          div(style='display: inline; padding-right:10px;')
            input.checkbox-input(
              type='checkbox'
              name='item_groups'
              id=group._id
              value=group._id
              checked=group.checked
              )
            label(for=group._id) #{group.name}
    button.btn.btn-primary(type='submit') Submit
block alert
  if errors 
    ul
      for error in errors
        li!= error.msg