extends ../layout

block main
  h1.text-warning.pl-2.css-small-text= title
  form(method='POST' action='')
    table#cart.table.table-hover.table-sm
      thead
        tr
          th.text-center(style='width:50%') Product
          th(style='width:10%') Price
          //- th(style='width:8%; text-indent:10px') No. Left
          th.text-center(style='width:32%') Groups
      tbody
        each item in item_list
          tr
            td(data-th='Product')
              a.css-link-unstyled(href=item.url)
                .row
                  .col-md-2.d-none.d-sm-block
                    img.img-fluid(src=item.img_100, alt='...')
                  .col-md-10
                    h4.nomargin #{item.name}
                    p
                      | #{item.description}
            td(data-th='Price') #{item.formattedPrice}
            //- td.text-center(data-th='Quantity') #{item.availability}
            td.text-center(data-th='Groups') #{item.formattedGroups} 
        else
          li There are no items.
  if current_user && current_user.user_group==="admin"
    a.btn.btn-success.btn-block(href='/store/item/create')
      | Add New 
      i.fa.fa-plus-square