extends layout

block main
  .container
    table#cart.table.table-hover.table-sm
      thead
        tr
          th(style='width:50%') Product
          th(style='width:10%') Price
          th(style='width:8%') Quantity
          th.text-center(style='width:22%') Subtotal
          th(style='width:10%')
      tbody
      each element in user_cart
        tr
          td(data-th='Product')
            .row
              .col-md-2.hidden-xs-down
                img.img-fluid(src='http://placehold.it/100x100', alt='...')
              .col-md-10
                h4.nomargin #{element.item.name}
                p
                  | #{element.item.description}
          td(data-th='Price') #{element.item.price}
          td(data-th='Quantity')
            input.form-control.text-center(type='number', value='#{element.quantity}')
          td.text-center(data-th='Subtotal') #{element.item.price * element.quantity}
          td.actions(data-th='')
            button.btn.btn-info.btn-sm
              i.fa.fa-refresh
            button.btn.btn-danger.btn-sm
              i.fa.fa-trash-o
      tfoot
        tr.hidden-xs-up
          td.text-center
            strong Total 1.99
        tr
          td
            a.btn.btn-warning(href='#')
              i.fa.fa-angle-left
              |  Continue Shopping
          td.hidden-xs-down(colspan='2')
            button.btn.btn-primary(type='submit') Update
          td.hidden-xs-down.text-center
            strong Total $1.99
          td
            a.btn.btn-success.btn-block(href='#')
              | Checkout 
              i.fa.fa-angle-right
