extends layout

block main
  h1= title

  form(method='POST' action='')
    ul
    each element in user_cart
      li
        label(for=element.item._id)
          a(href=element.item.url) #{element.item.name}
          |   - $#{element.item.price}
        |  
        input.checkbox-input(
              type='checkbox'
              name='shopping_cart'
              id=element.item._id
              value=element.item._id
              checked=false
              )
    else
      li There are no items.
    button.btn.btn-primary(type='submit') Update