extends layout

block main
  h1= title

  form(method='POST' action='')
    ul
    each element in user_cart
      li
        a(href=element.item.url) #{element.item.name} - $#{element.item.price} 
        div.form-group
          div.row
            div.form-check
              input.form-check-input(
                type='checkbox'
                name='cart'
                id='#{element.item._id}_remove'
                value=element.item._id
                checked=false
                )
              label.form-check-label(for=element.item._id) Remove 
        |
        div.form-group.row
          label.col-sm-6.col-form-label(for='#{element.item._id}_quantity') Quantity
          div.col-sm-2
            input.quantity.form-control(
              type='number'
              name='quantity'
              id='#{element.item._id}_quantity'
              value=element.quantity
              min='1'
              )
    else
      li There are no items.
    button.btn.btn-primary(type='submit') Update


extends layout

block main
  .col-xs-6
    h3.text-center Basic Example
    .well(style='max-height: 500px;overflow: auto;')
      ul.list-group.checked-list-box
      each element in user_cart
        li.list-group-item
          .col-sm.list-inline
            .list-inline-item
              a(href=element.item.url) #{element.item.name} - $#{element.item.price}
            .list-inline-item
              .col-sm.form-group.form-inline
                label.col-form-label(for='#{element.item._id}_quantity') Quantity
                input.form-control(
                  type='number'
                  name='quantity'
                  id='#{element.item._id}_quantity'
                  value=element.quantity
                  min='1'
                  )
            .list-inline-item
              .col-sm.form-check
                input.form-check-input(
                  type='checkbox'
                  name='cart'
                  id='#{element.item._id}_remove'
                  value=element.item._id
                  checked=false
                  )
            label.form-check-label(for=element.item._id) Remove 