extends layout

block main
  h1=title

  form(method='POST' action='')
    div.form-group
      label('coupon_name') Coupon Name:
      input#coupon_name.form-control(
        type='text' 
        placeholder='coupon name (select a name)' 
        name='coupon_name'
        required='true' 
        value=(undefined===coupon ? '' : coupon.name) 
        )
      label(for='description') Description:
      input#description.form-control(
        type='text' 
        placeholder='description (7 to 256 characters)' 
        name='description' 
        required='true' 
        value=(undefined===coupon ? '' : coupon.description)
        )
      label(for='discount_percent') Price:
      input#discount_percent.form-control(
        type='text' 
        placeholder='discount percent (put your discount_percent)' 
        name='discount_percent' 
        required='true' 
        value=(undefined===coupon ? '' : coupon.discount_percent)
        )
    div.form-group
      label(for='expiration_date') Date of birth:
      input#expiration_date.form-control(
        type='date'
        name='expiration_date'
        value=(undefined===coupon ? '' : coupon.expiration_date) )
    div.form-group
      label Group:
      div
        for group in item_groups
          div(style='display: inline; padding-right:10px;')
            input.checkbox-input(
              type='checkbox'
              name='item_groups'
              id=group._id
              value=group._id
              checked=group.checked
              )
            label(for=group._id) #{group.name}
    button.btn.btn-primary(type='submit') Submit

block alert
  if errors 
    ul
      for error in errors
        li!= error.msg