extends layout

block main
  h1= title

  p #[strong Name:]
    p #{item.name}
  hr
  p
    a(href=item.url+'/delete') Delete Item
  p
    a(href=item.url+'/update') Update Item
  p 
    form(method='POST' action=item.url+'/add')
      div.form-group
        input#itemid.form-control(
          type='hidden'
          name='id'
          required='true'
          value=item._id
          )
      button.btn.btn-primary(type='submit') Add to Cart