extends layout

block main
  h1 #{title}: #{item.name}
  p= item.description
  
  if orders.length || sessions.length
  
    p #[strong There are #{orders.length} orders and #{sessions.length} sessions with existing records of this item. Thus, the item cannot be deleted. If you need to remove the item from the store, please change the 'active' property to false.]

  else
    p Do you really want to delete this item?
    
    form(method='POST' action='')
      div.form-group
        input#itemid.form-control(type='hidden',name='itemid', required='true', value=item._id )

      button.btn.btn-primary(type='submit') Delete