doctype html
html(lang='en')
  head
    //- fav icon stuff
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='manifest', href='/site.webmanifest')
    link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#5bbad5')
    meta(name='msapplication-TileColor', content='#b91d47')
    meta(name='theme-color', content='#ffffff')


    meta(charset='UTF-8')
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css', integrity='sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy', crossorigin='anonymous')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      
      nav.navbar.navbar-expand-md.navbar-light.bg-faded
        button.navbar-toggler.navbar-toggler-right(type='button', 
          data-toggle='collapse', 
          data-target='#navbarSupportedContent', 
          aria-controls='navbarSupportedContent', 
          aria-expanded='false', 
          aria-label='Toggle navigation')
          span.navbar-toggler-icon
        a.navbar-brand(href='/store')
          img.d-inline-block.align-top(src='/images/logo.svg', width='30', height='30', alt='')
          | Item Store
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item.active
              a.nav-link(href='/store/items')
                | Items 
                span.sr-only (current)
            li.nav-item
              a.nav-link(href='/store/groups') Groups
            if current_user && current_user.user_group === "admin"
              li.nav-item
                span.badge.badge-warning Admin
              li.nav-item
                a.nav-link(href='/store/coupons') Coupons
              li.nav-item
                a.nav-link(href='/users') Users
              li.nav-item
                a.nav-link(href='/store/orders') Orders
              li.nav-item
                a.nav-link(href='/store/sessions') Sessions
              li.nav-item
                a.nav-link(href='/logout') Logout
            else if current_user
              li.nav-item
                a.nav-link(href=current_user.url) User
              li.nav-item
                a.nav-link(href='/logout') Logout
            else 
              li.nav-item
                a.nav-link(href='/user/create') Sign Up
              li.nav-item
                a.nav-link(href='/login') Login
            li.nav-item
                a.nav-link(href='/about') About
          ul.form-inline.my-2.my-lg-0
            a.btn.btn-primary.nav-link(href='/store/cart')
              span.sr-only The
              | Cart 
              if current_user
                span.sr-only has
                span.badge.badge-info #{current_user.current_cart.length}
                span.sr-only items.

      aside.row(role='alert', aria-live='assertive')
        block alert
      .row.content-row-style
        aside#js-aside-pre.css-aside-pre.col-md-1(role='complementary', aria-live='polite')
          block aside-pre
        main#js-main.css-main.col-md-12(role='main', aria-live='polite')
          block main
        aside#js-aside-post(role='complementary', aria-live='polite')
          block aside-post
      footer.row.footer-style(role='contentinfo')
        hr
        .col.mt-4
          p.text-center.css-small-text © Alex Webb 2018
  script(
    src='https://code.jquery.com/jquery-3.2.1.slim.min.js', 
    integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', 
    crossorigin='anonymous'
    )
  script(
    src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', 
    integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', 
    crossorigin='anonymous'
    )
  script(
    src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js', 
    integrity='sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4', 
    crossorigin='anonymous'
    )
  script(src='//checkout.stripe.com/v2/checkout.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js')
