extends ../layout

block main
  h1=title

  form(method='POST' action='')
    div.form-group
      label('Username') Username:
      input#username.form-control(
        type='text' 
        placeholder='Username (select a username)' 
        name='username'
        required='true' 
        value=(undefined===user ? '' : user.username) 
        )
      label(for='password') Password:
      input#password.form-control(
        type='password' 
        placeholder='Password (7 to 256 characters)' 
        name='password' 
        required='true' 
        value=(undefined===user ? '' : user.password)
        )
      label(for='email') Email:
      input#email.form-control(
        type='text' 
        placeholder='Email (put your email address)' 
        name='email' 
        required='true' 
        value=(undefined===user ? '' : user.email)
        )
    div.form-group
      label(for='first_name') First Name:
      input#first_name.form-control(
        type='text' 
        placeholder='First name' 
        name='first_name' 
        required='true' 
        value=(undefined===user ? '' : user.first_name)
        )
      label(for='middle_name') Middle Name:
      input#middle_name.form-control(
        type='text' 
        placeholder='Middle name' 
        name='middle_name'
        value=(undefined===user ? '' : user.middle_name)
        )
      label(for='last_name') Last Name:
      input#last_name.form-control(
        type='text' 
        placeholder='Last name (surname)' 
        name='last_name' 
        required='true' 
        value=(undefined===user ? '' : user.last_name)
        )
      if current_user && current_user.user_group==="admin"
        div(style='display: inline; padding-right:10px;')
            input.checkbox-input(
              type='checkbox'
              name='admin'
              id='admin'
              value="admin"
              checked=false
              )
            |   
            label(for="admin") Admin
    button.btn.btn-primary(type='submit') Submit

block alert
  if errors 
    ul.alert.alert-danger
      for error in errors
        li!= error.msg