extends ../layout

block main
  h1= title

  form(method='POST' action='')
    table#cart.table.table-hover.table-sm
      thead
        tr
          th(style='width:90%') User
          th(style='width:10%; text-indent:15px') Group

      tbody
        each user in user_list
          tr
            td(data-th='Product')
              a.css-link-unstyled(href=user.url)
                .row
                  .col-md-2.d-none.d-sm-block
                    img.img-fluid(src='https://placehold.it/100x100', alt='...')
                  .col-md-10
                    h4.nomargin #{user.name} - #{user.username}
            td.text-center(data-th='Group') #{user.user_group}
        else
          li There are no users.
  if current_user && current_user.user_group==="admin"
    a.btn.btn-success.btn-block(href='/user/create')
      | Add New 
      i.fa.fa-plus-square