extends ../layout

block main
  h1.pl-2.text-info.css-small-text= title

  form(method='POST' action='')
    table#cart.table.table-hover.table-sm
      thead
        tr
          th(style='width:30%') Username
          th(style='width:60%') Name
          th(style='width:10%; text-indent:15px') Group

      tbody
        each user in user_list
          tr
            td(data-th='Name')
              a.css-link-unstyled(href=user.url)  
                .row
                  .col-md-2.d-none.d-sm-block
                    h4.nomargin #{user.username}
            td(data-th='Name')
              a.css-link-unstyled(href=user.url)  
                .row
                  .col-md-10
                    h4.nomargin #{user.name}
            td.text-center(data-th='Group') #{user.user_group}
        else
          li There are no users.
  if current_user && current_user.user_group==="admin"
    a.btn.btn-success.btn-block(href='/user/create')
      | Add New 
      i.fa.fa-plus-square