extends ../layout

block main
  form.form-inline(method='POST' action='/store/coupon/add')
    .form-group.mx-sm-3.mb-2
      label.mr-2(for='coupon') Enter Coupon Code
      input.form-control(placeholder='Coupon Code', type='text' name='coupon' required='true' value='')
    button.btn.btn-primary.mb-2(type='submit') Add Coupon
  form(method='POST' action='')
    .table-responsive
      table#cart.table.table-hover.table-sm
        thead
          tr
            th(style='width:45%') Product
            th(style='width:5%') Price
            th(style='width:3%') Quantity
            th.text-center(style='width:17%') Subtotal
            th(style='width:5%') Remove
        tbody
          each element in user_cart
            tr
              include cart_partial.pug
              td.actions(data-th='Cart')
                .form-check.text-center
                  input.form-check-input(
                    type='checkbox'
                    name='cart'
                    id='#{element.item._id}_remove'
                    value=element.item._id
                    checked=false
                    )
          tr
            if coupons[0]
              td
                .alert.alert-info(role='alert')
                  | #{coupons[0].name} Coupon
              td
              td
              td
                .alert.alert-info.text-center(role='alert')
                  | - #{totalDiscount} 
          //- /////
          tfoot
            tr.d-none.d-sm-table-row
              td
                a.btn.btn-warning(href='/store/items')
                  i.fa.fa-angle-left
                  |  Continue Shopping
              td
              td
                button.btn.btn-primary(type='submit') Update
              td.text-center
                strong Total #{cart_total}
              td
                a.btn.btn-success.btn-block(href='/store/checkout')
                  | Checkout 
                  i.fa.fa-angle-right
    .d-block.d-sm-none
      //- .alert.alert-info(role='alert')
      //-   | This is a info alert—check it out!                  
      strong.row.justify-content-center.mb-2 Total #{cart_total}
      button.btn.btn-primary.btn-block(type='submit') Update
      a.btn.btn-success.btn-block(href='/store/checkout')
        | Checkout 
        i.fa.fa-angle-right