extends ../layout

block main
  .container
    table#cart.table.table-hover.table-sm
      thead
        tr
          th(style='width:50%') Product
          th(style='width:10%') Price
          th(style='width:8%') Quantity
          th.text-center(style='width:22%') Subtotal
          th(style='width:10%; text-indent:15px') Remove
      tbody
      form(method='POST' action='')
        each element in user_cart
          tr
            td(data-th='Product')
              .row
                .col-md-2.hidden-xs-down
                  img.img-fluid(src='http://placehold.it/100x100', alt='...')
                .col-md-10
                  h4.nomargin #{element.item.name}
                  p
                    | #{element.item.description}
            td(data-th='Price') $#{element.item.formatted_price}
            td(data-th='Quantity')
              input.form-control.text-center(
                type='number'
                name='quantity'
                id='#{element.item._id}_quantity' 
                value=element.quantity
                min='1'
                )
            td.text-center(data-th='Subtotal') $#{(element.item.price * element.quantity).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}
            td.actions(data-th='')
              .form-check.text-center
                input.form-check-input(
                  type='checkbox'
                  name='cart'
                  id='#{element.item._id}_remove'
                  value=element.item._id
                  checked=false
                  )
        tfoot
          tr.hidden-xs-up
            td.text-center
              strong Total $#{cart_total.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}
              button.btn.btn-primary(type='submit') Update
          tr
            td
              a.btn.btn-warning(href='/store/items')
                i.fa.fa-angle-left
                |  Continue Shopping
            td.hidden-xs-down(colspan='2')
              button.btn.btn-primary(type='submit') Update
            td.hidden-xs-down.text-center
              strong Total $#{cart_total.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}
            td
              a.btn.btn-success.btn-block(href='/store/checkout')
                | Checkout 
                i.fa.fa-angle-right
