extends ../layout

block main
  table#cart.table.table-hover.table-sm
    thead
      tr
        th(style='width:50%') Product
        th(style='width:12%') Price
        th(style='width:11%') Quantity
        th.text-center(style='width:27%') Subtotal
    tbody
      each element in user_cart
        tr
          td(data-th='Product')
            .row
              .col-md-2.d-none.d-sm-block
                img.img-fluid(src=element.item.img_100, alt='...')
              .col-md-10
                h4.nomargin #{element.item.name}
                p
                  | #{element.item.description}
          td(data-th='Price') $#{element.item.formatted_price}
          td.text-center(data-th='Quantity') #{element.quantity}
          td.text-center(data-th='Subtotal') $#{(element.item.price * element.quantity).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}
      tfoot
        tr
          td
            a.btn.btn-warning(href='/store/cart')
              i.fa.fa-angle-left
              |  Edit Cart
          td
          td
          td.text-center
            strong Total $#{cart_total.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}
  .row.justify-content-center
    form(action="/store/charge", method="post")
      script(
        src="//checkout.stripe.com/v2/checkout.js",
        class="stripe-button",
        data-key=keyPublishable,
        data-locale="auto",
        data-name="Item Store"
        data-description="Sample Charge",
        data-amount=cart_total * 100
        data-zip-code="true"
        )
      p Payment Info: 4242 4242 4242 4242
      p 04/24 242              
              
