extends ../layout

block main
  h1.text-info.pl-3.css-small-text= title

  p #[strong Name:]
    p 
      a(href=coupon_detail.url) #{coupon_detail.name}
    p #{coupon_detail.description}
    p Discount: #{coupon_detail.discount_percent}%
    p Valid from #{coupon_detail.beginDateFormatted} 
    if  coupon_detail.expirationDate
      | til #{coupon_detail.expirationDate}
    section
      h2 Valid Groups
      ul
        each group in coupon_detail.valid_item_groups
          li 
            p #{group.name}
        else
          li There are no valid groups.
  hr
  if current_user && current_user.user_group==="admin"
    a.btn.btn-success.mt-2.mr-2(href=coupon_detail.url + '/update')
      | Edit 
      i.fa.fa-pencil
    a.btn.btn-danger.mt-2(href=coupon_detail.url + '/delete')
      | Delete 
      i.fa.fa-trash-o